Repository 00mjk/NuGet.Client, changes with the owners that CODEOWNERS names for each.
All owners: @client-team, @dominoFire, @donnie-msft, @kartheekp-ms, @nkolev92, @zivkan, @rrelyea, @zkat, @heng-liu

removed public apis, nit and comments
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageRestoreBar.xaml.cs
  src/NuGet.Core/NuGet.PackageManagement/IDE/IPackageRestoreManager.cs
  src/NuGet.Core/NuGet.PackageManagement/IDE/PackageRestoreManager.cs
  src/NuGet.Core/NuGet.PackageManagement/PublicAPI.Unshipped.txt
Owners: @donnie-msft, @heng-liu

cleaning code
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageRestoreBar.xaml.cs
Owners: @donnie-msft

added experimentation utility
  src/NuGet.Clients/NuGet.PackageManagement.UI/NuGet.PackageManagement.UI.csproj
  src/NuGet.Clients/NuGet.PackageManagement.UI/Utility/ExperimentUtility.cs
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageRestoreBar.xaml.cs
Owners: @donnie-msft

updated test
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/CpsPackageReferenceProjectTests.cs
Owners: @client-team

removed trash files
  src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet - Backup (1).Build.Tasks.Console.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet - Backup.Build.Tasks.Console.csproj
Owners: @dominoFire

Transition to ReadOnly types.
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Utility/ExperimentUtility.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Utility/GetPackageReferenceUtility.cs
Owners: @donnie-msft

trying to fix apex test
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageRestoreBar.xaml.cs
Owners: @donnie-msft

Remove side effects
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Utility/GetPackageReferenceUtility.cs
Owners: @donnie-msft

Make use of cache
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs
Owners: @donnie-msft

Add culture info to string formatting
  src/NuGet.Clients/NuGet.PackageManagement.UI/Converters/PackageLevelToGroupNameConverter.cs
Owners: @donnie-msft

Add counts for the package group headers and make accessible
  src/NuGet.Clients/NuGet.PackageManagement.UI/Converters/PackageLevelToGroupNameConverter.cs
  src/NuGet.Clients/NuGet.PackageManagement.UI/Resources.Designer.cs
  src/NuGet.Clients/NuGet.PackageManagement.UI/Resources.resx
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/InfiniteScrollList.xaml
  src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/InfiniteScrollList.xaml.cs
  test/NuGet.Clients.Tests/NuGet.PackageManagement.UI.Test/Converters/PackageLevelToGroupNameConverterTests.cs
Owners: @donnie-msft, @client-team

Update installed and transitive list
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs
  test/NuGet.Clients.Tests/NuGet.VisualStudio.Implementation.Test/Extensibility/NuGetProjectServiceTests.cs
Owners: @donnie-msft, @client-team

Lock during cache refresh.
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs
Owners: @donnie-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @client-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# You can also use email addresses if you prefer.

/src/NuGet.Clients/NuGet.CommandLine/    @dominoFire
/src/NuGet.Clients/NuGet.Console/    @dominoFire
/src/NuGet.Clients/NuGet.Indexing/    @donnie-msft
/src/NuGet.Clients/NuGet.MSSigning.Extensions/    @kartheekp-ms
/src/NuGet.Clients/NuGet.PackageManagement.PowerShellCmdlets/    @dominoFire
/src/NuGet.Clients/NuGet.PackageManagement.UI/    @donnie-msft
/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/    @donnie-msft
/src/NuGet.Clients/NuGet.SolutionRestoreManager/     @nkolev92 @zivkan
/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/     @nkolev92 @zivkan
/src/NuGet.Clients/NuGet.Tools/NuGet.Tools/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio/    @donnie-msft @zivkan
/src/NuGet.Clients/NuGet.VisualStudio.Client/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Common/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Implementation/   @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Interop/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.OnlineEnvironment.Client/    @rrelyea
/src/NuGet.Clients/NuGetConsole.Host.PowerShell/    @dominoFire
/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Build.Tasks/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Build.Tasks.Console/    @dominoFire
/src/NuGet.Core/NuGet.Build.Tasks.Pack/    @zkat
/src/NuGet.Core/NuGet.CommandLine.XPlat/    @dominoFire
/src/NuGet.Core/NuGet.Commands/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Common/    @zkat
/src/NuGet.Core/NuGet.Configuration/    @heng-liu
/src/NuGet.Core/NuGet.Credentials/    @rrelyea
/src/NuGet.Core/NuGet.DependencyResolver.Core/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Frameworks/    @zkat
/src/NuGet.Core/NuGet.LibraryModel/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Localization/    @dominoFire
/src/NuGet.Core/NuGet.PackageManagement/    @heng-liu
/src/NuGet.Core/NuGet.Packaging/    @zkat
/src/NuGet.Core/NuGet.Packaging.Core/    @zkat
/src/NuGet.Core/NuGet.ProjectModel/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Protocol/    @zkat
/src/NuGet.Core/NuGet.Resolver/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Versioning/    @zkat
