Repository 00mjk/NuGet.Client, changes with the owners that CODEOWNERS names for each.
All owners: @client-team, @dominoFire, @donnie-msft, @kartheekp-ms, @nkolev92, @zivkan, @rrelyea, @zkat, @heng-liu

tests: Add UpdateLastAccessTime
  test/NuGet.Core.FuncTests/Dotnet.Integration.Test/DotnetRestoreTests.cs
  test/NuGet.Core.FuncTests/NuGet.Commands.FuncTest/RestoreCommandTests.cs
  test/NuGet.Core.Tests/NuGet.CommandLine.Xplat.Tests/InstallPackagesTests.cs
  test/NuGet.Core.Tests/NuGet.Commands.Test/InstallPackagesTests.cs
  test/NuGet.Core.Tests/NuGet.Commands.Test/RestoreRunnerTests.cs
  test/NuGet.Core.Tests/NuGet.Configuration.Test/SettingsUtilityTests.cs
Owners: @client-team

add new warning code
  src/NuGet.Core/NuGet.Commands/Strings.Designer.cs
  src/NuGet.Core/NuGet.Commands/Strings.resx
  src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs
  src/NuGet.Core/NuGet.Common/PublicAPI/net45/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
Owners: @nkolev92, @zivkan, @zkat

update last access time during restore
  src/NuGet.Core/NuGet.Commands/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netcoreapp5.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/DependencyGraphSpecRequestProvider.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProviders.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProvidersCache.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreRequest.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/NuGetv3LocalRepository.cs
  src/NuGet.Core/NuGet.Protocol/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netcoreapp5.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
Owners: @nkolev92, @zivkan, @zkat

configuration: Add LastAccessTime setting
  src/NuGet.Core/NuGet.Configuration/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Configuration/Utility/ConfigurationContants.cs
  src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs
Owners: @heng-liu

review feedback: don't break public api
  src/NuGet.Core/NuGet.Commands/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netcoreapp5.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netcoreapp5.0/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Commands/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/DependencyGraphSpecRequestProvider.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProvidersCache.cs
  src/NuGet.Core/NuGet.Configuration/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Configuration/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/NuGetv3LocalRepository.cs
  src/NuGet.Core/NuGet.Protocol/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netcoreapp5.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netcoreapp5.0/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Owners: @nkolev92, @zivkan, @heng-liu, @zkat

review feedback: Use VersionFolderPathResolver to locate .nupkg.metadata file
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
Owners: @nkolev92, @zivkan

review feedback: Add comment for localization folks
  src/NuGet.Core/NuGet.Commands/Strings.resx
Owners: @nkolev92, @zivkan

review feedback: Path comparison needs to be environment specific
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
Owners: @nkolev92, @zivkan

review feedback: Use an 1800 NugetLogCode
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
  src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs
  src/NuGet.Core/NuGet.Common/PublicAPI/net45/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/net45/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/net472/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Owners: @nkolev92, @zivkan, @zkat

remove unnecessary code
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProviders.cs
Owners: @nkolev92, @zivkan

review feedback: WIP logger attempts
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs
  src/NuGet.Core/NuGet.Protocol/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netcoreapp5.0/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  test/TestUtilities/Test.Utility/Commands/TestRestoreRequest.cs
Owners: @zkat, @client-team

review feedback: update nuget log code comment
  src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs
Owners: @zkat

review feeback: actually use the cache
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs
Owners: @zkat

remove extra line
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProviders.cs
Owners: @nkolev92, @zivkan

duplicate error string
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs
Owners: @zkat

noop restore: use metadata cache for updating timestamps
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
  src/NuGet.Core/NuGet.Protocol/PackagesFolder/LocalPackageFileCache.cs
  src/NuGet.Core/NuGet.Protocol/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netcoreapp5.0/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Protocol/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Owners: @nkolev92, @zivkan, @zkat

Use synchronous logging method
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
Owners: @nkolev92, @zivkan

test: add basic config constant check
  test/NuGet.Core.Tests/NuGet.Configuration.Test/SettingsUtilityTests.cs
Owners: @client-team

explicit type
  src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommandProvidersCache.cs
Owners: @nkolev92, @zivkan

remove unused using
  src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs
Owners: @nkolev92, @zivkan

avoid task.delay
  test/NuGet.Core.FuncTests/NuGet.Commands.FuncTest/RestoreCommandTests.cs
Owners: @client-team

test LocalPackageFileCache instead
  test/NuGet.Core.Tests/NuGet.Commands.Test/RestoreRunnerTests.cs
  test/NuGet.Core.Tests/NuGet.Protocol.Tests/LocalPackageFileCacheTests.cs
Owners: @client-team

work
  src/NuGet.Clients/NuGet.CommandLine/docs/README.md
  src/NuGet.Clients/NuGet.Indexing/docs/README.md
  src/NuGet.Clients/NuGet.VisualStudio.Contracts/docs/README.md
  src/NuGet.Clients/NuGet.VisualStudio/docs/README.md
  src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/docs/README.md
  src/NuGet.Core/NuGet.Build.Tasks.Console/docs/README.md
  src/NuGet.Core/NuGet.Build.Tasks.Pack/docs/README.md
  src/NuGet.Core/NuGet.Build.Tasks/NuGet.Build.Tasks.csproj
  src/NuGet.Core/NuGet.Build.Tasks/docs/README.md
  src/NuGet.Core/NuGet.CommandLine.XPlat/docs/README.md
  src/NuGet.Core/NuGet.Commands/docs/README.md
  src/NuGet.Core/NuGet.Common/docs/README.md
  src/NuGet.Core/NuGet.Configuration/docs/README.md
  src/NuGet.Core/NuGet.Credentials/docs/README.md
  src/NuGet.Core/NuGet.DependencyResolver.Core/docs/README.md
  src/NuGet.Core/NuGet.Frameworks/docs/README.md
  src/NuGet.Core/NuGet.LibraryModel/docs/README.md
  src/NuGet.Core/NuGet.Localization/docs/README.md
  src/NuGet.Core/NuGet.PackageManagement/docs/README.md
  src/NuGet.Core/NuGet.Packaging.Core/docs/README.md
  src/NuGet.Core/NuGet.Packaging/docs/README.md
  src/NuGet.Core/NuGet.ProjectModel/docs/README.md
  src/NuGet.Core/NuGet.Protocol/docs/README.md
  src/NuGet.Core/NuGet.Resolver/docs/README.md
  src/NuGet.Core/NuGet.Versioning/docs/README.md
Owners: @dominoFire, @donnie-msft, @client-team, @zivkan, @nkolev92, @zkat, @heng-liu, @rrelyea

add readme.md for 24 packages
  src/NuGet.Clients/NuGet.CommandLine/NuGet.CommandLine.csproj
  src/NuGet.Clients/NuGet.Indexing/NuGet.Indexing.csproj
  src/NuGet.Clients/NuGet.VisualStudio.Contracts/NuGet.VisualStudio.Contracts.csproj
  src/NuGet.Clients/NuGet.VisualStudio/NuGet.VisualStudio.csproj
  src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/Microsoft.Build.NuGetSdkResolver.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet.Build.Tasks.Console.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.csproj
  src/NuGet.Core/NuGet.Build.Tasks/NuGet.Build.Tasks.csproj
  src/NuGet.Core/NuGet.CommandLine.XPlat/NuGet.CommandLine.XPlat.csproj
  src/NuGet.Core/NuGet.Commands/NuGet.Commands.csproj
  src/NuGet.Core/NuGet.Common/NuGet.Common.csproj
  src/NuGet.Core/NuGet.Configuration/NuGet.Configuration.csproj
  src/NuGet.Core/NuGet.Credentials/NuGet.Credentials.csproj
  src/NuGet.Core/NuGet.DependencyResolver.Core/NuGet.DependencyResolver.Core.csproj
  src/NuGet.Core/NuGet.Frameworks/NuGet.Frameworks.csproj
  src/NuGet.Core/NuGet.LibraryModel/NuGet.LibraryModel.csproj
  src/NuGet.Core/NuGet.Localization/NuGet.Localization.csproj
  src/NuGet.Core/NuGet.PackageManagement/NuGet.PackageManagement.csproj
  src/NuGet.Core/NuGet.Packaging.Core/NuGet.Packaging.Core.csproj
  src/NuGet.Core/NuGet.Packaging/NuGet.Packaging.csproj
  src/NuGet.Core/NuGet.ProjectModel/NuGet.ProjectModel.csproj
  src/NuGet.Core/NuGet.Protocol/NuGet.Protocol.csproj
  src/NuGet.Core/NuGet.Resolver/NuGet.Resolver.csproj
  src/NuGet.Core/NuGet.Versioning/NuGet.Versioning.csproj
Owners: @dominoFire, @donnie-msft, @client-team, @zivkan, @nkolev92, @zkat, @heng-liu, @rrelyea

Initial duplicate tasks implementation
  src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs
  src/NuGet.Core/NuGet.Build.Tasks/CheckForDuplicateNuGetItemsTask.cs
  src/NuGet.Core/NuGet.Build.Tasks/GlobalSuppressions.cs
  src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets
  src/NuGet.Core/NuGet.Build.Tasks/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Build.Tasks/Strings.Designer.cs
  src/NuGet.Core/NuGet.Build.Tasks/Strings.resx
  src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs
  src/NuGet.Core/NuGet.Common/PublicAPI/net45/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/net472/PublicAPI.Unshipped.txt
  src/NuGet.Core/NuGet.Common/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs
  test/NuGet.Core.FuncTests/Dotnet.Integration.Test/DotnetRestoreTests.cs
  test/NuGet.Core.Tests/NuGet.Build.Tasks.Test/CheckForDuplicateNuGetItemsTaskTests.cs
Owners: @dominoFire, @nkolev92, @zivkan, @zkat, @client-team

remove unnecessary unshipped api
  src/NuGet.Core/NuGet.Build.Tasks/PublicAPI.Unshipped.txt
Owners: @nkolev92, @zivkan

Handle duplicate items
  src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs
  src/NuGet.Core/NuGet.Build.Tasks/GlobalSuppressions.cs
  src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets
  src/NuGet.Core/NuGet.Common/Errors/NuGetLogCode.cs
  test/NuGet.Clients.Tests/NuGet.CommandLine.Test/RestoreNETCoreTest.cs
  test/NuGet.Core.FuncTests/Dotnet.Integration.Test/DotnetRestoreTests.cs
Owners: @dominoFire, @nkolev92, @zivkan, @zkat, @client-team

fix
  build/common.targets
  src/NuGet.Clients/NuGet.CommandLine/NuGet.CommandLine.csproj
  src/NuGet.Clients/NuGet.Indexing/NuGet.Indexing.csproj
  src/NuGet.Clients/NuGet.VisualStudio.Contracts/NuGet.VisualStudio.Contracts.csproj
  src/NuGet.Clients/NuGet.VisualStudio/NuGet.VisualStudio.csproj
  src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/Microsoft.Build.NuGetSdkResolver.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet.Build.Tasks.Console.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.csproj
  src/NuGet.Core/NuGet.Build.Tasks/NuGet.Build.Tasks.csproj
  src/NuGet.Core/NuGet.CommandLine.XPlat/NuGet.CommandLine.XPlat.csproj
  src/NuGet.Core/NuGet.Commands/NuGet.Commands.csproj
  src/NuGet.Core/NuGet.Common/NuGet.Common.csproj
  src/NuGet.Core/NuGet.Configuration/NuGet.Configuration.csproj
  src/NuGet.Core/NuGet.Credentials/NuGet.Credentials.csproj
  src/NuGet.Core/NuGet.DependencyResolver.Core/NuGet.DependencyResolver.Core.csproj
  src/NuGet.Core/NuGet.Frameworks/NuGet.Frameworks.csproj
  src/NuGet.Core/NuGet.LibraryModel/NuGet.LibraryModel.csproj
  src/NuGet.Core/NuGet.Localization/NuGet.Localization.csproj
  src/NuGet.Core/NuGet.PackageManagement/NuGet.PackageManagement.csproj
  src/NuGet.Core/NuGet.Packaging.Core/NuGet.Packaging.Core.csproj
  src/NuGet.Core/NuGet.Packaging.Extraction/docs/README.md
  src/NuGet.Core/NuGet.Packaging/NuGet.Packaging.csproj
  src/NuGet.Core/NuGet.ProjectModel/NuGet.ProjectModel.csproj
  src/NuGet.Core/NuGet.Protocol/NuGet.Protocol.csproj
  src/NuGet.Core/NuGet.Resolver/NuGet.Resolver.csproj
  src/NuGet.Core/NuGet.Versioning/NuGet.Versioning.csproj
  test/TestUtilities/Test.Utility/docs/README.md
Owners: @client-team, @dominoFire, @donnie-msft, @zivkan, @nkolev92, @zkat, @heng-liu, @rrelyea

revert unnecessary change
  src/NuGet.Core/NuGet.Build.Tasks.Console/NuGet.Build.Tasks.Console.csproj
  src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.csproj
  src/NuGet.Core/NuGet.CommandLine.XPlat/NuGet.CommandLine.XPlat.csproj
  src/NuGet.Core/NuGet.DependencyResolver.Core/NuGet.DependencyResolver.Core.csproj
  src/NuGet.Core/NuGet.LibraryModel/NuGet.LibraryModel.csproj
  src/NuGet.Core/NuGet.Resolver/NuGet.Resolver.csproj
Owners: @dominoFire, @zkat, @nkolev92, @zivkan

Run test on non-Windows with dotnet test
  NuGet.Config
  build/bootstrap.proj
  build/build.proj
  build/common.project.props
  build/packages.targets
  build/xunit.runsettings
  eng/pipelines/templates/Build_and_UnitTest.yml
  eng/pipelines/templates/CrossFramework_Tests_On_Windows.yml
  eng/pipelines/templates/Functional_Tests_On_Windows.yml
  eng/pipelines/templates/Tests_On_Linux.yml
  eng/pipelines/templates/Tests_On_Mac.yml
  scripts/funcTests/runFuncTests.sh
  test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGet.CommandLine.Test.csproj
Owners: @client-team

***NO_CI*** Add more output to tests, disable them
  test/NuGet.Core.FuncTests/NuGet.Packaging.FuncTest/SigningTests/SignatureTrustAndValidityVerificationProviderTests.cs
Owners: @client-team

Removes harcoded sorting from PackageItemLoader.GetCurrent()
  src/NuGet.Clients/NuGet.PackageManagement.UI/PackageItemLoader.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/InstalledAndTransitivePackageFeed.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/InstalledPackageFeed.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/PlainPackageFeedBase.cs
Owners: @donnie-msft

Test: Hardened ordering test
  test/NuGet.Clients.Tests/NuGet.PackageManagement.UI.Test/PackageItemLoaderTests.cs
Owners: @client-team

Tests: Added sorting test on PackageItemLoader
  test/NuGet.Clients.Tests/NuGet.PackageManagement.UI.Test/PackageItemLoaderTests.cs
Owners: @client-team

Added more tests
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/Feeds/InstalledAndTransitivePackageFeedTests.cs
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/Feeds/InstalledPackageFeedTests.cs
Owners: @client-team

Simplified GetMetadata on InstalledAndTransitiveFeed. Added missing cancellationToken throws
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/InstalledAndTransitivePackageFeed.cs
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/InstalledPackageFeed.cs
Owners: @donnie-msft

Added 1 test
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/Feeds/InstalledAndTransitivePackageFeedTests.cs
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/Feeds/InstalledPackageFeedTests.cs
Owners: @client-team

Typo
  src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/InstalledAndTransitivePackageFeed.cs
Owners: @donnie-msft

Removed and sort usings
  src/NuGet.Clients/NuGet.PackageManagement.UI/PackageItemLoader.cs
Owners: @donnie-msft

Tests: Removed and sort usings
  test/NuGet.Clients.Tests/NuGet.PackageManagement.UI.Test/PackageItemLoaderTests.cs
  test/NuGet.Clients.Tests/NuGet.PackageManagement.VisualStudio.Test/Feeds/InstalledAndTransitivePackageFeedTests.cs
Owners: @client-team

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @client-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# You can also use email addresses if you prefer.

/src/NuGet.Clients/NuGet.CommandLine/    @dominoFire
/src/NuGet.Clients/NuGet.Console/    @dominoFire
/src/NuGet.Clients/NuGet.Indexing/    @donnie-msft
/src/NuGet.Clients/NuGet.MSSigning.Extensions/    @kartheekp-ms
/src/NuGet.Clients/NuGet.PackageManagement.PowerShellCmdlets/    @dominoFire
/src/NuGet.Clients/NuGet.PackageManagement.UI/    @donnie-msft
/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/    @donnie-msft
/src/NuGet.Clients/NuGet.SolutionRestoreManager/     @nkolev92 @zivkan
/src/NuGet.Clients/NuGet.SolutionRestoreManager.Interop/     @nkolev92 @zivkan
/src/NuGet.Clients/NuGet.Tools/NuGet.Tools/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio/    @donnie-msft @zivkan
/src/NuGet.Clients/NuGet.VisualStudio.Client/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Common/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Implementation/   @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.Interop/    @donnie-msft
/src/NuGet.Clients/NuGet.VisualStudio.OnlineEnvironment.Client/    @rrelyea
/src/NuGet.Clients/NuGetConsole.Host.PowerShell/    @dominoFire
/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Build.Tasks/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Build.Tasks.Console/    @dominoFire
/src/NuGet.Core/NuGet.Build.Tasks.Pack/    @zkat
/src/NuGet.Core/NuGet.CommandLine.XPlat/    @dominoFire
/src/NuGet.Core/NuGet.Commands/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Common/    @zkat
/src/NuGet.Core/NuGet.Configuration/    @heng-liu
/src/NuGet.Core/NuGet.Credentials/    @rrelyea
/src/NuGet.Core/NuGet.DependencyResolver.Core/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Frameworks/    @zkat
/src/NuGet.Core/NuGet.LibraryModel/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Localization/    @dominoFire
/src/NuGet.Core/NuGet.PackageManagement/    @heng-liu
/src/NuGet.Core/NuGet.Packaging/    @zkat
/src/NuGet.Core/NuGet.Packaging.Core/    @zkat
/src/NuGet.Core/NuGet.ProjectModel/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Protocol/    @zkat
/src/NuGet.Core/NuGet.Resolver/     @nkolev92 @zivkan
/src/NuGet.Core/NuGet.Versioning/    @zkat
